
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


.schedule{
  width:40px;
}
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 50px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

.overlay-close:hover{
  cursor: pointer;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 50px;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
  text-decoration: none;
}



/* Effects */
.overlay-genie {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}

.overlay-genie.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay-genie svg {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-genie .overlay-path {
  fill: rgba(17,71,121,.9);
}

.overlay-genie nav {
  opacity: 0;
  -webkit-transform: scale(0.8) translateY(-48%);
  transform: scale(0.8) translateY(-48%);
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}

.overlay-genie .overlay-close {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay-genie.open nav,
.overlay-genie.open .overlay-close {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.overlay-genie.open nav {
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

.overlay-genie.close nav,
.overlay-genie.close .overlay-close {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}










.animateMe{
  opacity: 0;
}
 
.animateMe .animated{
    opacity: 1;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

body{
  font-family: 'Open-Sans', sans-serif;
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

h1.display-4{
  font-family: 'Open-Sans', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #114779;
}

p.lead{
  color: #114779;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;

}

.mail{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open-Sans', sans-serif;
}
/* change the background color */
.navbar-custom {
    background-color: #fff;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: #114779!important;
    padding: 1rem 1rem;
        font-size: 20px;
      font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff!important;
    background-color: #114779!important; /* add background-color to active links */
    transition: ease-in .3s;

}


.navbar-brand{
  width: 300px;
  padding:5px;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(41,74,109)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(41,74,109);
} 



.jumbotron-fluid{
  background-image: url(../img/hero8.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height:100vh;
  color: #fff;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header-content {
    position: absolute;
    top: 20%;
    right: 5%;
}

#top-box{
  margin-top: -30px;

}

#top-box p{
  font-family: 'Open-Sans', sans-serif;
  font-size:20px;
  font-weight: 400;
  color: #fff;
}



.icon{
  height: 30%;
  width: 30%;
  margin-bottom: 30px;
}

.service-box{
  height: 300px;
  width: 100%;
  padding:15px;
  margin-top: -50px;
  margin-bottom: 50px;
}

.darkb{
  background-color: #114779;
  background-image: url(../img/icon1Bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.lightg{
  background-color: #85A2B6;
  background-image: url(../img/icon2Bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.lightb{
  background-color: #85A2B6;
  background-image: url(../img/icon3Bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#billing .jumbotron-fluid{
  background-image: url(../img/billing.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 400px;
  background-attachment: initial;
  color: #fff;
  padding-top:100px;
  padding-left: 20px;
}

#contact .jumbotron-fluid{
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 400px;
  background-attachment: initial;
  color: #fff;
  padding-top:100px;
  padding-left: 20px;

}


#contact-bottom{
  padding-top: 30px;
  padding-bottom:0px;
}

.contact-box{
  padding:15px;
  color:#fff!important;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
}

#billing-text h4{

  font-family: 'Open-Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #488CC5;
}

#intro h4{

  font-family: 'Open-Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #488CC5;
}

#billing-bottom h4{

  font-family: 'Open-Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #488CC5;
}

#billing-bottom{
  padding-bottom: 100px;
}

.box1{
 background:#114779;
}

.box2{
 background:#85A2B6;
}

.box3{
 background:#488CC5;
}

.box4{
  background:#114779;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color:#114779;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size:20px;
}

#staff .jumbotron-fluid{
  background-image: url(../img/staff.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;
  height:400px;
  background-attachment: initial;
  color: #fff;
  background-color: #fff;
  padding:0;
}

#staff-top{
  margin-top: -50px;
}

.staff-box {
    width: 100%;
    height: 200px;
    background: rgba(17,71,121,0.9);
    padding: 15px;
}

.card-text{
    color: #5EA9F9;
    font-family: 'Open-Sans',sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.staff-background{
 
  margin-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #488CC5;
    border-color: #488CC5;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
}
.btn-primary:hover{
    color: #fff;
    background-color: #114779;
    border-color:  #114779;
}

.services-header {
    padding-top: 0px;
    padding-bottom: 50px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid #114779;
    width: 50%;
}


section#intro{
  padding-top: 50px;
  padding-bottom: 50px;
}

#intro h2{
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size:60px;
  color: #488CC5;
}

#intro p{
   color: #114779;
   font-size: 25px;
   font-family: 'Open-Sans', sans-serif;
   font-weight: 400;
   margin-top: 15px;
}

#billing-text p{
   color:  #fff;
   font-size: 25px;
   font-family: 'Open-Sans', sans-serif;
   font-weight: 400;
   margin-top: 15px;
}

#intro h5 {
    font-size: 1.25rem;
    font-family: 'Open-Sans',sans-serif;
    font-weight: 700;
    font-size: 25px;
}

section#services{
  padding-top: 100px;
  padding-bottom: 100px;

}

#services h2{
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size:60px;
  color: #488CC5;
}

#services p{
    color:  #114779;
   font-size: 22px;
   font-family: 'Open-Sans', sans-serif;
   font-weight: 400;
   margin-top: 15px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: left;
}

.card-title{
  color: #488CC5;
  text-align: center;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    color:  #114779;
    font-size: 18px;
   font-family: 'Open-Sans', sans-serif;
   font-weight: 400;
}

.services-box{
    background-color: none;
    padding:40px,20px,20px,20px;
    box-shadow: none;
    margin-bottom: 20px;
}

#services .card{
  border:none;
  background: #fff;
  box-shadow: none;
}

.card-img-top{
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:#114779;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
    color:#fff!important;
}

section#parallax{
  height: 500px;
  background-image: url(../img/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  width: 100%;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
}

#parallax h2{
  font-family: 'Open-Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

section#reach{
  background:#fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#reach h2{
  font-family: 'Open-Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #488CC5;
}

#reach p{
    color:  #114779;
   font-size: 22px;
   font-family: 'Open-Sans', sans-serif;
   font-weight: 400;
   margin-top: 15px;
}

section#board{
  padding-top: 100px;
  padding-bottom: 100px;
  
}

#board h2{
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size:35px;
  color: #488CC5;
}

#board .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border:none;
    color:#114779;
    font-family: 'Open-Sans', sans-serif;
    font-family: 18px;
  }

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border:none;
  color:#114779;

}



footer{
  background-color: #114779;
  color: #fff;
    font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
}

h5.amr{
    font-size: 25px;
    font-family: 'Open-Sans',sans-serif;
    font-weight: 700;
}

.footerp{
  color: #fff;
  font-size: 20px;
  font-family: 'Open-Sans',sans-serif;
  font-weight: 400;
}

i{
    color: #fff;
  font-size: 20px;
  font-family: 'Open-Sans',sans-serif;
  font-weight: 400;
}

.footer-copyright {
    background-color: #114779;
    padding: 5px;
}

.list-unstyled, a{
  color: #fff;
  font-size: 20px;
    font-family: 'Open-Sans',sans-serif;
  font-weight: 400;
}



.list-unstyled, a:hover{
  color:#488CC5;
  text-decoration: none;
}


/*----Amr Staff Page----*/



.card {
    border: 1px solid #294A6D;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 3px rgba(0,0,0,.1);
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    text-align: right;
    padding-right: 20px;
}

#staff .card-img-top {
    height: 100%;
    width: 100%;
    margin-top: 0;
}

#amr-staff{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 

  .mail{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open-Sans', sans-serif;
}

.header-content {
    position: absolute;
    top: 30%;
    right: 5%;
}

.service-box {
    height: 400px;
    width: 100%;
    padding: 15px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.top-right{
  text-align: right;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.card{
  margin-bottom: 10px;
  width: 100%;
}

.one{
  text-align: left!important;
}

.two{
  text-align: left!important;
}
.three{
  text-align: left!important;
}

.no-float{
  float:none!important;
}

.custom-toggler.navbar-toggler {
    border: none;
}

#staff .jumbotron-fluid {
    background-image: url(../img/staff.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    background-position: center;
    height: 300px;
    background-attachment: initial;
    color: #fff;
    background-color: #fff;
    padding: 0;
}
.staff-box {
    width: 100%;
    height: 200px;
    background: rgba(17,71,121,0.9);
    padding: 15px;
}

.card-title {
    color: #488CC5;
    text-align: center;
    font-size: 30px;
}

.card-text {
    color: #5EA9F9;
    font-family: 'Open-Sans',sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}

.contact-box{
  padding:10px!important;
}

p.lead {
    color: #114779;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

#billing-text h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

#billing-bottom h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

.footer-copyright {
    background-color: #114779;
    padding: 5px;
}

}


@media only screen 
and (min-width : 375px) 
and (max-width : 667px) {

  .mail{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open-Sans', sans-serif;
}

  #billing-bottom h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

  #billing-text h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

  #staff .jumbotron-fluid {
    background-image: url(../img/staff.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    background-position: center;
    height: 200px;
    background-attachment: initial;
    color: #fff;
    background-color: #fff;
    padding: 0;
}


  h1.display-4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #114779;
}

p.lead {
    color: #114779;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

#intro h2 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #488CC5;
}
#intro p {
    color: #114779;
    font-size: 20px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}

#services h2 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #488CC5;
}

section#parallax {
    height: 500px;
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    width: 100%;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #fff;
}

#parallax h2 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

  .custom-toggler.navbar-toggler {
    border: none;
}

.footer-copyright {
    background-color: #114779;
    padding: 5px;
}

  #parallax h2 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

  .header-content {
    position: absolute;
    top: 10%;
    left: 5%;
}

  .jumbotron-fluid{
  background-image: url(../img/cellHome.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height:90vh;
  color: #fff;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
  
.top-right{
  text-align: left;
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.one{
  text-align: left!important;
}

.two{
  text-align: left!important;
}
.three{
  text-align: left!important;
}

.four{
  text-align: left!important;
}

.mt-3{
  text-align: left;
}

.list-unstyled, a{
  text-align: left;
}

.card{
  margin-bottom: 10px;
  width: 100%;
}

.no-float{
  float:none!important;
}

.footerp {
    color: #fff;
    font-size: 15px;
    font-family: 'Open-Sans',sans-serif;
    font-weight: 400;
}
  
 }

 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)  {

  .mail{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open-Sans', sans-serif;
}

  #contact .jumbotron-fluid {
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 400px;
    background-attachment: initial;
    color: #fff;
    padding-top: 50px;
    padding-left: 10px;
}

  #billing-text h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

#billing-bottom h4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #488CC5;
    margin-top: 50px;
}

  #reach p{
    font-size:20px;
  }

  .custom-toggler.navbar-toggler {
    border: none;
}

  .navbar-brand {
    width: 220px;
    padding: 5px;
}

.footer-copyright {
    background-color: #114779;
    padding: 5px;
}

  #parallax h2 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

 .header-content {
    position: absolute;
    top: 20%;
    left: 5%;
}

  .jumbotron-fluid{
  background-image: url(../img/cellHome.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height:90vh;
  color: #fff;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

  h1.display-4 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #114779;
}

p.lead {
    color: #114779;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

#intro h2 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #488CC5;
}
#intro p {
    color: #114779;
    font-size: 20px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}

#services h2 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #488CC5;
}

section#parallax {
    height: 500px;
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    width: 100%;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #fff;
}

#parallax h2 {
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.top-right{
  text-align: left;
}

.display-4 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.one{
  text-align: left!important;
}

.two{
  text-align: left!important;
}
.three{
  text-align: left!important;
}

.four{
  text-align: left!important;
}

.mt-3{
  text-align: left;
}

.list-unstyled, a{
  text-align: left;
}

.card{
  margin-bottom: 10px;
  width: 100%;
}

.no-float{
  float:none!important;
}

.footerp {
    color: #fff;
    font-size: 15px;
    font-family: 'Open-Sans',sans-serif;
    font-weight: 400;
}


}







